/* Tomer Sheier 12/18/2023
this is the CSS style sheet for the scrabble game
*/


.container2 {
    margin-bottom: 40px;
    text-align: center; 
}

#tileLeft {
    display: inline-block; 
}


.scrabbleTile {
    width: 130px;
    height: 130px;
}

.boardTile {
    width: 130px;
    height: 130px;
}

.jumbotron {
    text-align: center;
    background-color: #007bff; 
    color: #ffffff; 
}

img {
    margin-left: 5px;
    margin-right: 5px;
}

#rack {
    width: 1100px;
    height: 240px;
    position: relative;
}

#playerRack {
    position: absolute;
    bottom: 45px;
    left: 75px;
}

#boardDiv {
    padding: 20px;
    margin-left: 10px;
}

#Buttons {
    background-color: #e35011; 
}

/* Styling for table */
#tileLeft td {
    border: 1px solid #d3d8dd; 
    padding: 15px;
    border-spacing: 20px;
}

#tileLeft table {
    margin-bottom: 30px;
}
